body,
main,
header,
.midlecontainer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

head {
  background-color: rgba(0, 0, 255, 0.51);
  display: flex;
  flex-direction: row;
}
head__title {
  justify-content: flex-start;
}
